@charset "UTF-8";
/**************************************************
 base
**************************************************/
/* color */
/**************************************************
 color
**************************************************/
/**************************************************
 color
**************************************************/
/*　WHITE  */
/*　GREY  */
/*　GREY  */
/*　GREY  */
/* エラー */
/**************************************************
 site
**************************************************/
/* サイトカラー */
/**************************************************
 font
**************************************************/
/* メイン */
/* サイト補色 */
/**************************************************
 background
**************************************************/
/* body */
/* header */
/* header Top */
/* header navi */
/* header navi */
/* address */
/* loading */
/**************************************************
 a
**************************************************/
/**************************************************
 button
**************************************************/
/* normal */
/* hover */
/* disabled */
/**************************************************
 div
**************************************************/
/**************************************************
 table
**************************************************/
/**************************************************
  navigation drawer
**************************************************/
/**************************************************
 progress_status
**************************************************/
/**************************************************
 breadcrumb
**************************************************/
/**************************************************
 pager
**************************************************/
/**************************************************
 modal
**************************************************/
/**************************************************
 image viewer
**************************************************/
/* size */
/**************************************************
 size
**************************************************/
/* スマートフォン */
/* タブレット */
/**************************************************
 header
**************************************************/
/* common */
/**************************************************
 common
**************************************************/
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #FFF;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #636b6f;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  overflow-y: scroll; }

main {
  display: none; }

/**************************************************
 h
**************************************************/
h1 {
  font-size: 2.0rem; }

h2 {
  font-size: 1.5rem; }

h3, h4, h5 {
  font-size: 1.3rem; }

/**************************************************
 a
**************************************************/
a[href^="http"]:empty::before {
  content: attr(href); }

a[href]:not([class]) {
  color: #4285f5;
  text-decoration: underline; }

a:link {
  color: #4285f5; }

a:visited {
  color: #c4c4c4; }

a:hover {
  color: #0847b2; }

a:active {
  color: #c4c4c4; }

a:focus {
  color: #c4c4c4; }

/**************************************************
 button
**************************************************/
button {
  display: inline-block;
  padding: 0.3rem 1rem 0.3rem 1rem;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4285f5;
  border: 0.15rem solid #4285f5;
  border-radius: 1px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  cursor: pointer; }

button:hover {
  background-color: #0C5BDF;
  border: 0.15rem solid #0C5BDF; }

.btn-l {
  width: 180px;
  height: 60px;
  font-size: 1.2rem; }

.btn-m {
  width: 150px;
  height: 50px;
  font-size: 1.0rem; }

.btn-s {
  width: 120px;
  height: 40px;
  font-size: 0.8rem; }

@media screen and (max-width: 960px) {
  .btn-l {
    width: 165px;
    height: 55px;
    font-size: 1.1rem; }

  .btn-m {
    width: 135px;
    height: 45px;
    font-size: 0.9rem; }

  .btn-s {
    width: 105px;
    height: 35px;
    font-size: 0.7rem; } }
@media screen and (max-width: 600px) {
  .btn-l {
    width: 150px;
    height: 50px;
    font-size: 1.2rem; }

  .btn-m {
    width: 120px;
    height: 40px;
    font-size: 1.0rem; }

  .btn-s {
    width: 105px;
    height: 35px;
    font-size: 0.7rem; } }
/**************************************************
 button:animation
**************************************************/
button::before,
button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: ''; }

button,
button::before,
button::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

button {
  position: relative;
  z-index: 2; }

button::before,
button::after {
  left: 0;
  width: 100%;
  height: 50%; }

button::before {
  top: 0; }

button::after {
  bottom: 0; }

button:hover::before,
button:hover::after {
  height: 0;
  background-color: #4285f5; }

/* disabled */
button:disabled {
  cursor: default;
  background-color: #CCCCCC;
  border: 0.15rem solid #CCCCCC; }

button:disabled:hover::before,
button:disabled:hover::after {
  background-color: #CCCCCC; }

/**************************************************
 img
**************************************************/
img {
  vertical-align: bottom; }

img[src$=".svg"],
object[src$=".svg"] {
  max-width: 100%;
  width: 100%;
  height: auto; }

/**************************************************
 p
**************************************************/
p {
  overflow: hidden;
  text-overflow: ellipsis; }

/**************************************************
 list
**************************************************/
ul {
  list-style: none; }

/**************************************************
 table
**************************************************/
.table-div {
  width: 100vw; }

table {
  margin: 0 auto; }

table, th, td {
  border-collapse: collapse;
  border: thin solid #F0F0F0; }

table th {
  padding: 0.5rem; }

table td {
  padding: 0.5rem; }

tr:nth-child(even) {
  background: #FAFAFA; }

/**************************************************
 address
**************************************************/
address {
  font-style: normal;
  text-align: center;
  width: 100vw;
  font-size: 0.8rem;
  color: #636b6f;
  background-color: #FFF; }

/**************************************************
 汎用
**************************************************/
.full-height {
  height: 100vh; }

.text-align-center {
  text-align: center; }

.border-bottom-color-site {
  border-bottom: medium solid #4285f5; }

/* flexbox */
/**************************************************
 flexbox
**************************************************/
.flexbox-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center; }

.flexbox-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left; }

.flexbox-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right; }

.flexbox-center-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* input */
/**************************************************
 input
**************************************************/
input {
  margin: 0 0 0.2rem 0;
  padding: 0.5rem;
  font-size: 1.0rem;
  color: #636b6f;
  border: solid 0.1rem #F0F0F0;
  width: 100%;
  border-radius: 3px; }

/**************************************************
 radio
 引用:https://qiita.com/ryo620/items/a7941774469a6229a64a
 @ryo620
**************************************************/
input[type=radio], input[type=checkbox] {
  display: none; }

.radio, .checkbox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 12px 12px 12px 40px;
  border-radius: 5px;
  vertical-align: middle;
  cursor: pointer; }
  .radio:hover, .checkbox:hover {
    background-color: #FAFAFA; }
    .radio:hover:after, .checkbox:hover:after {
      border-color: #4285f5; }
  .radio:after, .checkbox:after {
    -webkit-transition: border-color 0.2s linear;
    -o-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    margin-top: -10px;
    width: 16px;
    height: 16px;
    border: 2px solid #F0F0F0;
    border-radius: 6px;
    content: ''; }

.radio:before {
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4285f5;
  content: '';
  opacity: 0; }
  input[type=radio]:checked + .radio:before {
    opacity: 1; }

.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #4285f5;
  border-bottom: 3px solid #4285f5;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  input[type=checkbox]:checked + .checkbox:before {
    opacity: 1; }

/**************************************************
 select
**************************************************/
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 0 0.2rem 0;
  padding: 8px 12px;
  font-size: 1.0rem;
  color: #636b6f;
  border: solid 0.1rem #F0F0F0;
  width: 100%;
  border-radius: 3px; }

select option {
  color: #636b6f; }

.select-arrow {
  position: relative; }

.select-arrow:before {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 10px;
  content: '▼';
  color: #4285f5;
  pointer-events: none; }

/* sns */
/**************************************************
 SNS
 引用：https://saruwakakun.com/html-css/reference/buttons
**************************************************/
.button-sns {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  margin: 2px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.button-sns.sns-twitter {
  background: #22b8ff; }

.button-sns.sns-facebook {
  background: #6680d8; }

.button-sns.sns-hatena {
  background: #49a8fb; }

.button-sns.sns-pocket {
  background: #ff6d82; }

.button-sns.sns-feedly {
  background: #7bda72; }

.button-sns.sns-google {
  background: #fd6969; }

.button-sns:link {
  color: #FFFFFF; }

.button-sns:visited {
  color: #FFFFFF; }

.button-sns:hover {
  color: #FFFFFF;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px); }

.button-sns:active {
  color: #FFFFFF; }

.button-sns:focus {
  color: #FFFFFF; }

@media screen and (max-width: 600px) {
  .button-sns {
    display: inline-block;
    text-decoration: none;
    width: 44px;
    margin: 1px;
    height: 44px;
    line-height: 44px;
    font-size: 23px;
    border-radius: 22px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

  .button-sns:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px); } }
/* breadcrumb */
/**************************************************
 breadcrumb
**************************************************/
/**************************************************
 progress-status
**************************************************/
#progress-status {
  width: 100vw;
  font-size: 1.0rem;
  overflow: hidden; }

#progress-status ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

#progress-status li {
  width: 100vw;
  padding: 1rem 0.5rem 1rem 2rem;
  position: relative;
  color: #636b6f;
  background-color: #F0F0F0; }

#progress-status li:last-of-type {
  padding-right: 1rem; }

#progress-status li:last-of-type:before,
#progress-status li:last-of-type:after {
  display: none; }

#progress-status li:before,
#progress-status li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0; }

#progress-status li:before {
  top: -10px;
  right: -15px;
  border-style: solid;
  border-color: transparent transparent transparent #FFFFFF;
  border-width: 40px 0 40px 1rem;
  z-index: 1; }

#progress-status li:after {
  top: -10px;
  right: -12px;
  border-style: solid;
  border-color: transparent transparent transparent #F0F0F0;
  border-width: 40px 0 40px 1rem;
  z-index: 1; }

#progress-status li.current {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #4285f5; }

#progress-status li.current:after {
  border-color: transparent transparent transparent #4285f5; }

/**************************************************
 breadcrumb
**************************************************/
#breadcrumb {
  width: 100vw;
  font-size: 0.8rem;
  overflow: hidden;
  background-color: #F0F0F0; }

#breadcrumb a {
  text-decoration: none; }

#breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

#breadcrumb li {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  position: relative;
  color: #636b6f; }

#breadcrumb li:last-of-type {
  padding-right: 0.5rem; }

#breadcrumb li:last-of-type:before,
#breadcrumb li:last-of-type:after {
  display: none; }

#breadcrumb li:before,
#breadcrumb li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0; }

#breadcrumb li:before {
  top: -3px;
  right: -9px;
  border-style: solid;
  border-color: transparent transparent transparent #FFFFFF;
  border-width: 20px 0 20px 0.5rem;
  z-index: 1; }

#breadcrumb li:after {
  top: -3px;
  right: -8px;
  border-style: solid;
  border-color: transparent transparent transparent #F0F0F0;
  border-width: 20px 0 20px 0.5rem;
  z-index: 1; }

@media screen and (max-width: 600px) {
  #breadcrumb {
    display: none; } }
/* pager */
/**************************************************
 pager
**************************************************/
#pager #pager-pc, #pager #pager-sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

#pager a {
  text-decoration: none; }

/**************************************************
 pc
**************************************************/
#pager-pc li {
  width: 40px;
  height: 40px;
  border-top: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0; }

@media screen and (max-width: 960px) {
  #pager-pc li {
    width: 44px;
    height: 44px; } }
#pager-pc li:first-of-type {
  border-radius: 3px 0 0 3px; }

#pager-pc li:last-of-type {
  border-radius: 0 3px 3px 0;
  border-right: 1px solid #F0F0F0; }

#pager-pc li a {
  padding: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%; }

#pager-pc li a {
  color: #636b6f;
  background-color: #FFFFFF; }

#pager-pc li a:hover {
  color: #FFFFFF;
  background-color: #4285f5; }

/**************************************************
 sp
**************************************************/
#pager-sp select {
  width: 40vw;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  text-align: center; }

#pager-sp-previous, #pager-sp-next {
  padding: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  border-radius: 3px 0 0 3px; }

#pager-sp-previous {
  border-left: 1px solid #F0F0F0; }

#pager-sp-next {
  border-right: 1px solid #F0F0F0; }

#pager-sp-previous a, #pager-sp-next a {
  padding: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%; }

#pager-sp-previous a, #pager-sp-next a {
  color: #636b6f;
  background-color: #FFFFFF; }

#pager-sp-previous a:hover, #pager-sp-next a:hover {
  color: #FFFFFF;
  background-color: #4285f5; }

/**************************************************
 display: none
**************************************************/
@media screen and (min-width: 600px) {
  #pager #pager-sp {
    display: none; } }
@media screen and (max-width: 600px) {
  #pager #pager-pc {
    display: none; } }
/* elements */
/**************************************************
 page
**************************************************/
#loading-screen {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #F2F2F2;
  opacity: 0.8;
  z-index: 9999; }

#loading-screen-loader {
  z-index: 10000;
  width: 100vw;
  height: 100vh; }

/* js library */
/**************************************************
 page
 arcis-js-check-no-script
**************************************************/
.page-no-script-title {
  font-size: 3vw;
  padding: 1vw;
  color: #efd600; }

.page-no-script-text {
  font-size: 2vw; }

/**************************************************
 modal
 arcis-js-modal
**************************************************/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-overlay {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.modal-main {
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
  width: 60vw;
  height: auto;
  max-height: 80vh;
  background-color: #FFFFFF;
  border-radius: 1rem;
  -webkit-animation: modal-animation 0.7s 1 ease-in;
  animation: modal-animation 0.8s 1 ease-in; }

@-webkit-keyframes modal-animation {
  from {
    -webkit-transform: translate(0, -100vh);
    transform: translate(0, -100vh); } }
@keyframes modal-animation {
  from {
    -webkit-transform: translate(0, -100vh);
    transform: translate(0, -100vh); } }
@media screen and (max-width: 600px) {
  .modal-main {
    width: 80vw; } }
.modal-main h3 {
  padding: 0.1rem 0.1rem 0.4rem 0.1rem;
  width: 100%;
  text-align: center;
  border-bottom: medium solid #4285f5; }

.modal-close {
  position: absolute;
  top: 4px;
  right: 3px;
  font-size: 1.5rem;
  color: #898989;
  border: none;
  background-color: #FFFFFF;
  border-radius: 1rem; }

.modal-close:hover {
  border: none;
  background-color: #FFFFFF; }

.modal-close:hover::before,
.modal-close:hover::after {
  border: none;
  background-color: #FFFFFF; }

.modal-display-check {
  display: none; }

.modal-content {
  padding: 1rem 0.5rem 1rem 0.5rem; }

/**************************************************
 modal
 arcis-js-image-viewer
**************************************************/
[data-image-viewer] {
  cursor: pointer; }

#image-viewer-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5); }

#image-viewer-overlay {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#image-viewer-main {
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 60vw;
  height: auto;
  max-height: 80vh;
  background-color: #FFFFFF;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media screen and (max-width: 600px) {
  #image-viewer-main {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    width: 80vw; } }
#image-viewer-viewer {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 0.5rem; }

#image-viewer-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 0.5rem; }

#image-viewer-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999999; }

#image-viewer-content h5 {
  padding: 0.5rem;
  width: 100%;
  color: #FFFFFF;
  text-align: center; }

#image-viewer-content div {
  padding: 0 0.5rem 0.5rem 0.5rem;
  width: 100%;
  height: auto;
  color: #FFFFFF;
  text-align: center; }

#image-viewer-button-previous {
  padding-left: 1rem;
  position: fixed;
  top: 50vh;
  left: 0;
  z-index: 9999999;
  font-size: 3rem; }

#image-viewer-button-next {
  padding-right: 1rem;
  position: fixed;
  top: 50vh;
  right: 0;
  z-index: 9999999;
  font-size: 3rem; }

@media screen and (max-width: 600px) {
  #image-viewer-button-previous, #image-viewer-button-next {
    display: none; } }
/* PC */
/**************************************************
 PC
**************************************************/
/**************************************************
 header
**************************************************/
header {
  position: fixed;
  width: 100vw;
  height: 100px;
  border-bottom: medium solid #4285f5;
  background-color: #FFF;
  z-index: 9999;
  /* animation */ }
  header #header-top {
    position: fixed;
    width: 100vw;
    height: 25px;
    font-size: 0.8rem;
    background-color: #CCC;
    /* frexbox */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  header #header-top ul {
    padding: 0 15px 0 0; }
  header #header-top li {
    display: inline-block;
    padding: 0 10px 0 0; }
  header #header-container {
    padding-top: 25px;
    height: 100%;
    /* frexbox */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  header #header-logo {
    padding: 0px 10px 10px 10px;
    width: 160px;
    height: 40px; }
  header #header-menu {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%; }
  header #header-menu nav {
    height: 100%; }
  header #header-menu ul {
    padding: 10px 25px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%; }
  header #header-menu ul li {
    width: 150px;
    height: 100%; }
  header #header-menu ul li a {
    text-decoration: none;
    color: #898989;
    font-weight: bold; }
  header #header-menu ul li a div {
    height: 50px;
    border-bottom: medium solid #FFF;
    /* animation */
    position: relative; }
  header #header-menu ul li a div:hover {
    background-color: #FAFAFA; }
  header #header-menu ul li a div::before,
  header #header-menu ul li a div::after {
    bottom: 0;
    content: "";
    border-bottom: medium solid #F00;
    position: absolute;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition: all .2s ease;
    width: 0; }
  header #header-menu ul li a div::before {
    left: 50%; }
  header #header-menu ul li a div::after {
    right: 50%; }
  header #header-menu ul li a div:hover::before,
  header #header-menu ul li a div:hover::after {
    width: 50%; }

/**************************************************
 navigation drawer
 引用:https://saruwakakun.com/html-css/reference/nav-drawer
**************************************************/
/* navigation-drawer */
#navigation-drawer {
  display: none; }

@media screen and (max-width: 960px) {
  #navigation-drawer {
    display: block;
    padding: 13px;
    position: absolute;
    top: 4px;
    right: 8px; } }
@media screen and (max-width: 600px) {
  #navigation-drawer {
    display: block;
    padding: 8px;
    position: absolute;
    top: 0px;
    right: 13px; } }
/* icon layout */
#navigation-drawer-icon {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle; }

#navigation-drawer-icon span, #navigation-drawer-icon span:before, #navigation-drawer-icon span:after {
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #898989;
  display: block;
  content: '';
  cursor: pointer; }

#navigation-drawer-icon span:before {
  bottom: -8px; }

#navigation-drawer-icon span:after {
  bottom: -16px; }

/* background */
.navigation-drawer-background-unshown {
  display: none; }

#navigation-drawer-background {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #898989;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

/* contents */
#navigation-drawer-contents {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 80vw;
  height: 100vh;
  background: #FFF;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  transform: translateX(-105%); }

#navigation-drawer-contents li {
  padding: 10px 5px 10px 5px;
  color: #636b6f;
  border-bottom: 1px solid #636b6f;
  background-color: #FFF; }

#navigation-drawer-contents li a {
  display: block; }

#navigation-drawer-contents li:hover {
  background-color: #FAFAFA; }

/* action */
#navigation-drawer-input:checked ~ #navigation-drawer-background {
  display: block;
  opacity: .5; }

#navigation-drawer-input:checked ~ #navigation-drawer-contents {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15); }

/**************************************************
 main
**************************************************/
main {
  padding: 100px 0 110px 0; }

/**************************************************
 footer
**************************************************/
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 110px;
  background-color: #4285f5;
  color: #FFF; }

address {
  position: fixed;
  bottom: 0; }

/**************************************************/
/* TB */
/**************************************************
 TB
**************************************************/
@media screen and (max-width: 960px) {
  /**************************************************/
  /**************************************************
   h
  **************************************************/
  h1 {
    font-size: 1.5rem; }

  h2 {
    font-size: 1.3rem; }

  h3, h4, h5 {
    font-size: 1.0rem; }

  /**************************************************
  header
  **************************************************/
  header {
    height: 60px; }
    header #header-top {
      display: none; }
    header #header-container {
      padding: 0 0 0 10px;
      width: 100vw;
      /* frexbox */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    header #header-logo {
      width: 160px;
      height: 40px; }
    header #header-menu {
      display: none; }

  /**************************************************
   main
  **************************************************/
  main {
    padding: 60px 0 80px 0; }

  /**************************************************
  footer
  **************************************************/
  footer {
    height: 80px; }

  address {
    font-size: 0.7rem; }

  /**************************************************/ }
/* SP */
/**************************************************
 SP
**************************************************/
@media screen and (max-width: 600px) {
  /**************************************************/
  /**************************************************
   h
  **************************************************/
  h1 {
    font-size: 1.5rem; }

  h2 {
    font-size: 1.3rem; }

  h3, h4, h5 {
    font-size: 1.0rem; }

  /**************************************************
  header
  **************************************************/
  header {
    height: 40px; }
    header #header-top {
      display: none; }
    header #header-container {
      padding: 0 0 0 10px;
      width: 100vw;
      /* frexbox */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    header #header-logo {
      width: 120px;
      height: 30px; }
    header #header-menu {
      display: none; }

  /**************************************************
   main
  **************************************************/
  main {
    padding: 40px 0 60px 0; }

  /**************************************************
  footer
  **************************************************/
  footer {
    height: 60px; }

  address {
    font-size: 0.6rem; }

  /**************************************************/ }
/**************************************************
 pages
**************************************************/
/**************************************************
 page
**************************************************/
/**************************************************
 h
**************************************************/
.page-home-h-category {
  padding: 0.5rem 0 0 1.5rem; }

@media screen and (max-width: 960px) {
  .page-home-h-category {
    padding: 0.5rem 0 0 1.0rem; } }
@media screen and (max-width: 600px) {
  .page-home-h-category {
    padding: 0.5rem 0 0 0.5rem; } }
/**************************************************
 top
**************************************************/
#page-home-top-image {
  width: 100vw;
  height: auto;
  min-height: 100px;
  max-height: 250px;
  -o-object-fit: cover;
  object-fit: cover; }

/**************************************************
 top
**************************************************/
#page-home-cover-image {
  width: 100vw;
  height: auto;
  min-height: 100px;
  max-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url("/assets/images/sample_title_01.jpg");
  background-size: cover;
  color: #FFF; }

.page-home-cover-contents {
  padding: 4rem 0 4rem 0;
  vertical-align: middle; }

@media screen and (max-width: 960px) {
  .page-home-cover-contents {
    padding: 3rem 0 3rem 0; } }
@media screen and (max-width: 600px) {
  .page-home-cover-contents {
    padding: 2rem 0 2rem 0; } }
/**************************************************
 news
**************************************************/
.page-home-news-contents {
  border-bottom: medium solid #F0F0F0; }

.page-home-news-contents-item {
  padding: 1rem;
  width: 250px; }

@media screen and (max-width: 960px) {
  .page-home-news-contents-item {
    width: 100vw; } }
@media screen and (max-width: 600px) {
  .page-home-news-contents-item {
    width: 100vw; } }
.page-home-news-contents-item h4 {
  border-bottom: medium solid #4285f5; }

.page-home-news-contents-text {
  padding: 0.2rem; }

/**************************************************
 pickup
**************************************************/
.page-home-pickup-item {
  background-color: #F0F0F0;
  margin: 0.3rem;
  width: 180px; }

.page-home-pickup-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.page-home-pickup-item-img {
  overflow: hidden; }

.page-home-pickup-item-img img {
  width: 100%;
  display: block;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.page-home-pickup-item-img img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.page-home-pickup-item p {
  padding: 0.3rem;
  height: 80px; }

@media screen and (max-width: 960px) {
  .page-home-pickup-item {
    width: 180px; }

  .page-home-pickup-item > p {
    font-size: 0.8rem;
    height: 60px; } }
@media screen and (max-width: 600px) {
  .page-home-pickup-item {
    width: 30%; }

  .page-home-pickup-item > p {
    display: none; } }
/**************************************************
 card
**************************************************/
.page-home-card-item {
  margin: 0.3rem;
  width: 180px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border: 0.1rem solid #F0F0F0;
  text-align: center; }

.page-home-card-item-img img {
  width: 100%;
  height: 90px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; }

.page-home-card-item-text {
  padding: 0 0.5rem 0 0.5rem;
  border-top: 0.1rem solid #F0F0F0; }

.page-home-card-item-text h5 {
  font-size: 1rem; }

@media screen and (max-width: 600px) {
  .page-home-card-item {
    width: 80%; }

  .page-home-card-item-img img {
    height: 60px; } }
/**************************************************
 sentence
**************************************************/
.page-home-sentence {
  margin: 0 3rem 0 3rem; }

.page-home-sentence-text {
  margin: 0.5rem 1rem 1rem 1rem; }

.page-home-sentence ul {
  list-style-type: disc;
  margin-left: 1rem; }

@media screen and (max-width: 960px) {
  .page-home-sentence {
    margin: 0 2rem 0 2rem; }

  .page-home-sentence-text {
    margin: 0.4rem 0.4rem 0.6rem 0.4rem; } }
@media screen and (max-width: 600px) {
  .page-home-sentence {
    margin: 0 1rem 0 1rem; }

  .page-home-sentence-text {
    margin: 0.3rem 0.3rem 0.5rem 0.3rem; } }
/**************************************************
 band
**************************************************/
.page-home-band {
  width: 70vw;
  margin: 0 auto; }

@media screen and (max-width: 960px) {
  .page-home-band {
    width: 90vw; } }
@media screen and (max-width: 600px) {
  .page-home-band {
    width: 95vw; } }
.page-home-band h2 {
  border-bottom: 0.1rem solid #4285f5;
  padding-left: 10px;
  height: 3rem;
  color: #4285f5;
  font-weight: lighter;
  font-size: 2rem; }

.page-home-band-item {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #FFF;
  border-bottom: 0.1rem solid #4285f5; }

.page-home-band-item:hover {
  border: none;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s; }

.page-home-band-item-image {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.page-home-band-item-image img {
  width: 100px;
  height: auto; }

.page-home-band-item-article {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.page-home-band-item-title {
  padding: 0.5rem;
  width: 40%;
  color: #4285f5;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.page-home-band-item-text {
  padding: 0.5rem;
  width: 60%;
  color: #636b6f; }

@media screen and (max-width: 600px) {
  .page-home-band-item-image img {
    width: 100%; }

  .page-home-band-item-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .page-home-band-item-title {
    font-size: 1.0rem;
    width: 100%; }

  .page-home-band-item-text {
    padding-top: 0;
    font-size: 0.9rem;
    width: 100%; } }

/*# sourceMappingURL=base.css.map */
